
.vs/pixel_flow/FileContentIndex/3dc15763-412d-452c-9741-a0d1301f9650.vsidx
*.db-wal
*.lock
*.db
*.db-shm
*.ipch
*.bin
*.vsidx
*.opendb
.vs/pixel_flow/v17/.suo
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.23.2/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.23.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.23.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/cache-v2
.idea/vcs.xml
.idea/pixel_flow.iml
.idea/modules.xml
.idea/misc.xml
.idea/codeStyles/codeStyleConfig.xml
*.exe
*.pdb
*.log
*.ilk
*.exe
*.obj
*.ilk
x64/Debug/Board.obj
x64/Debug/ControllerBoard.obj
x64/Debug/Data.obj
x64/Debug/GitHubDataExporter.obj
x64/Debug/GoogleSheetsDataExporter.obj
x64/Debug/main.obj
x64/Debug/MainWindow.obj
x64/Debug/moc_MainWindow.obj
x64/Debug/Pixel.obj
x64/Debug/pixel_flow.exe
x64/Debug/pixel_flow.ilk
x64/Debug/pixel_flow.log
x64/Debug/pixel_flow.pdb
x64/Debug/pixel_flow.tlog/CL.command.1.tlog
x64/Debug/pixel_flow.tlog/CL.read.1.tlog
x64/Debug/pixel_flow.tlog/CL.write.1.tlog
x64/Debug/pixel_flow.tlog/pixel_flow.write.1u.tlog
x64/Debug/qt_work.log
x64/Debug/vc143.pdb
enc_temp_folder/1dc0e9a460a56b25ecccf55f2b2a4d3/MainWindow.cc
